# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
.webassets-cache

# Environment Variables
.env

# Uploaded Files
uploads/*

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Logs
*.log